@font-face {
  font-family: 'DINMittelschrift-Alternate';
  src: url('./font/DINMittelschrift-Alternate.otf');
}

body {
  .abc {
    background: red;
    font-family: 'DINMittelschrift-Alternate';
  }
}
